@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .title-text {
    @apply font-roboto-condensed text-blue-light font-medium leading-6 text-16;
  }
  .title-text-white {
    @apply font-roboto-condensed text-white font-bold leading-6 text-16;
  }
  .subtitle-text {
    @apply font-roboto-condensed text-grey-dark font-bold leading-[38px] text-32;
  }
  .content-text {
    @apply font-mont text-grey-dark font-normal leading-6 text-16;
  }
  .content-text-white {
    @apply font-mont text-white font-normal leading-6 text-16;
  }
}
